.qb-container {
  display: flex;
  justify-content: center;
}

.qb-card {
  width: 60%;
  justify-content: center;
  margin-bottom: 10px;
}

.qb-row-item{
  width: 100%;
}

.qb-row-item-size {
  width: 50%;
}

.padding {
  padding-left: 20%;
}

.qb-radio-group {
  padding-top: 10px;
  width: 100%;
  display: block;
}

.qb-row {
  padding-top: 10px;
}

.button:hover{
  background: rgba(255,255,255,.5);
  cursor: pointer;
}

.networks {
  float: right;
  margin-top: 1%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.networks:hover .block-deactivator {
  background: white;
  cursor: pointer;
}

#deactivating.block-deactivator:hover {
  border-color: red;
}

.networks:hover .deactivating-play {
  color: red;
}

.networks:hover .block-activator {
  background: white;
  cursor: pointer;
}

#reactivating.block-activator:hover {
  border-color: green;
}

.networks:hover .reactivating-play {
  color: green;
}

.block-activator {
  margin-top: 5%;
  text-align: center;
  display: table;
  position: relative;
  background-color: gray;
  border: 2px solid black;
  border-radius: 4em;
  transition: background-color 0.2s ease-in-out;
}


.block-deactivator {
  margin-top: 5%;
  text-align: center;
  display: table;
  position: relative;
  background-color: gray;
  border: 2px solid black;
  border-radius: 4em;
  transition: background-color 0.2s ease-in-out;
  padding: 5px;
}


.serving-size-button{
  color:white;
  background-color: black;
}

.size-pictures {
  width: 350px;
}

.image-locations{
  margin-left: 87%;
  margin-top: -8%;
}

.sizing-image{
  width: 100px; 
  border: 3px inset rgb(22, 129, 106); 
  height: 100px; 
}


mat-error {
  font-size: x-large;
  background-color: yellow;
}

@media (max-width: 800px) {
  .qb-card {
    width: 100%;
  }

  .qb-card {
    font-size: smaller;
  }

  .qb-radio-group {
    padding-top: 10px;
    width: 100%;
  }
}