<!--Dialog box for the serving sizes pictures-->
<mat-dialog-content class="mat-typography">
    <div *ngFor="let post of posts">
        <div class="card-content">
            <div class="media-content">
                <p class="title is-4">{{ post.title }}</p>
            </div>
            <!-- Commented section for content
            <div class="content">
                {{ post.content }}
            </div>
            -->
        </div>

        <div class="card-image">

            <figure class="image is-4by3">
                <img [src]="post.imageUrl" style="display: block;
                margin-left: auto;
                margin-right: auto; max-width: 100%; height: auto;" />

            </figure>
        </div>


    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close style="background-color: red; color:white;">Close</button>
</mat-dialog-actions>