.title{
 
    padding: 10px;
    /* needed styles below */
    display: flex;
    justify-content: space-between;
}

 
.charts-line-chart{
  margin: 20px;
  border: 20px;
}

.ngx-charts{
  float: left;
  overflow: visible;
}

.example-form {
	min-width: 150px;
	max-width: 300px;
	width: 100%;
  padding: auto;
  }

  
  .example-full-width {
	width: 100%;
  }
  
