.title{
 
    padding: 10px;
    /* needed styles below */
    display: flex;
    justify-content: space-between;
}

 
.chart{
  padding-left: 10px;
}


.example-form {
	min-width: 150px;
	max-width: 300px;
	width: 100%;
  padding: auto;
  }

  
  .example-full-width {
	width: 100%;
  }
  
