  <br>
  <br>
  
  <div class="qb-container">
  <mat-card class="qb-card">
    <mat-card-title> Growth Charts </mat-card-title>

    <mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Child information</mat-panel-title>
            <mat-panel-description>Birth date, gender, weight and height of the child. </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Please provide all the information asked.</p>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput placeholder="Ex. Peter">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Height in meters (m)</mat-label>
              <input matInput placeholder="Ex. 0.5">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Weight in kilograms (Kg)</mat-label>
              <input matInput placeholder="Ex. 20">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Choose a birth date</mat-label>
              <input matInput placeholder="Ex. 01/20/2021" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width"  appearance="fill">
              <mat-label>Gender</mat-label>
              <mat-select disableRipple>
                <mat-option value="1">Male</mat-option>
                <mat-option value="2">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Chart options</mat-panel-title>
            <mat-panel-description>BMI, Height - Age, Weight - Age, and Weight - Height charts.</mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">BMI</mat-button-toggle>
            <mat-button-toggle value="italic">Height - Age</mat-button-toggle>
            <mat-button-toggle value="underline">Weight - Age </mat-button-toggle>
            <mat-button-toggle value="underline">Weight - Height </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-actions>
  </mat-card>
</div>

<div>
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legendPosition] = "position"
    [legendTitle]="legendTitle"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [yAxisTicks] = "[40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]"
    [trimYAxisTicks] = "true"
    [roundDomains] = "true"
    [yScaleMin] = "40"
    [results]="BOYS_LENGTH_FOR_AGE_BIRTH_TO_TWO_YEARS"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
</div>

 

  


