<div class="qb-container">
  <mat-card class="qb-card">
    <mat-card-title> {{'Growth Charts' | translate}} </mat-card-title>
    <mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{'Child Personal Information' | translate}}</mat-panel-title>
            <mat-panel-description
              >{{'Name and gender of the child' | translate}}.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{'Please, provide all the information asked' | translate}}.</p>
          <form
            class="example-form"
            #childPersonalInformationForm="ngForm"
            ngNativeValidate
            (ngSubmit)="onSubmitChildPersonalInformationForm()"
          >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'Children' | translate}}</mat-label>
              <mat-select
                name="children"
                #childrenControl="ngModel"
                disableRipple
                required
                [(ngModel)]="childName"
                (selectionChange)="onTypeChartChange(chartChoseOption)"
              >
                <mat-option
                  *ngFor="let name of currentParent.childrennames; index as i"
                  [value]="name"
                  >{{ name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'Gender' | translate}}</mat-label>
              <mat-select
                name="gender"
                #genderControl="ngModel"
                disableRipple
                required
                [(ngModel)]="childGender"
                (selectionChange)="onTypeChartChange(chartChoseOption)"
              >
                <mat-option value="Male">{{'Male' | translate}}</mat-option>
                <mat-option value="Female">{{'Female' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{'Child Body Measurements' | translate}}</mat-panel-title>
            <mat-panel-description
              >{{'Age, weight and height of the child' | translate}}.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{'Please, provide all the information asked' | translate}}.</p>
          <form
            class="example-form"
            #childBodyMeasurementsForm="ngForm"
            ngNativeValidate
            (ngSubmit)="onSubmitChildBodyMeasurementsForm()"
          >
            <p>
              {{'Height units' | translate}}:
              <mat-button-toggle-group
                #heightUnitOptionsGroup="matButtonToggleGroup"
                name="heightUnitOptionsControl"
                [(ngModel)]="heightUnitOptions"
                [value]="heightUnitOptions"
                (change)="onHeightUnitsChange()"
              >
                <mat-button-toggle value="cm">{{'Centimeters' | translate}}</mat-button-toggle>
                <mat-button-toggle value="in">{{'Inches' | translate}}</mat-button-toggle>
              </mat-button-toggle-group>
            </p>
            <p>
              {{'Weight units' | translate}}:
              <mat-button-toggle-group
                #weightUnitOptionsGroup="matButtonToggleGroup"
                name="weightUnitOptionsControl"
                [(ngModel)]="weightUnitOptions"
                [value]="weightUnitOptions"
                (change)="onWeightUnitsChange()"
              >
                <mat-button-toggle value="kg">{{'Kilograms' | translate}}</mat-button-toggle>
                <mat-button-toggle value="lb">{{'Pounds' | translate}}</mat-button-toggle>
              </mat-button-toggle-group>
            </p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'Child age in Months (mos)' | translate}}</mat-label>
              <input
                name="age"
                #ageControl="ngModel"
                [(ngModel)]="childAge"
                required
                matInput
                type="number"
                placeholder="Ex. 2"
                [min]="MIN_AGE_MONTHS"
                [max]="MAX_AGE_MONTHS"
              />
              <ng-container *ngIf="ageControl.invalid && ageControl.touched">
                <mat-label *ngIf="ageControl.errors.required">
                  {{'You must enter an age in month'| translate}}.</mat-label
                >
              </ng-container>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'Height in centimeters (cm)' | translate}}</mat-label>
              <input
                name="height"
                #heightControl="ngModel"
                [(ngModel)]="childHeight"
                required
                matInput
                type="number"
                step="0.5"
                placeholder="Ex. 60.5"
                [min]="MIN_HEIGHT_CENTIMETERS"
                [max]="MAX_HEIGHT_CENTIMETERS"
              />
              <ng-container
                *ngIf="heightControl.invalid && heightControl.touched"
              >
                <mat-label *ngIf="heightControl.errors.required">
                  {{'You must enter a height in centimeters' | translate}}.</mat-label
                >
              </ng-container>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'Weight in kilograms' | translate}} (Kg)</mat-label>
              <input
                name="weight"
                #weightControl="ngModel"
                [(ngModel)]="childWeight"
                required
                matInput
                type="number"
                step="0.5"
                placeholder="Ex. 20"
                [min]="MIN_WEIGHT_KILOGRAMS"
                [max]="MAX_WEIGHT_KILOGRAMS"
              />
              <ng-container
                *ngIf="weightControl.invalid && weightControl.touched"
              >
                <mat-label *ngIf="weightControl.errors.required">
                  {{'You must enter a height in centimeters' | translate}}.</mat-label
                >
              </ng-container>
            </mat-form-field>
            <button
              mat-button
              name="name"
              [disabled]="childBodyMeasurementsForm.invalid"
              (click)="onAddingData()"
            >
              {{'Add'|translate}}
            </button>
            <button
              mat-button
              name="save"
              [disabled]="childBodyMeasurementsForm.invalid"
            >
              {{'Save'|translate}}
            </button>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{'Chart options'|translate}}</mat-panel-title>
            <mat-panel-description
              >{{'BMI, Height - Age, Weight - Age, and Weight - Height charts'|translate}}.</mat-panel-description
            >
          </mat-expansion-panel-header>
          <p>{{'Please select a chart option'|translate}}.</p>
          <form>
            <mat-button-toggle-group
              #chartOptionsGroup="matButtonToggleGroup"
              name="chartOptionsControl"
              [disabled]="childPersonalInformationForm.invalid"
              [(ngModel)]="chartChoseOption"
              (change)="onTypeChartChange($event.value)"
            >
              <mat-button-toggle value="BMI">{{'BMI'|translate}}</mat-button-toggle>
              <mat-button-toggle value="Height-Age"
                >{{'Height-Age'|translate}}</mat-button-toggle
              >
              <mat-button-toggle value="Weight-Age"
                >{{'Weight-Age'|translate}}
              </mat-button-toggle>
              <mat-button-toggle value="Weight-Height"
                >{{'Weight-Height'|translate}}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-actions>
  </mat-card>
</div>

<div class="charts-line-chart">
  <ngx-charts-line-chart
    *ngIf="!childPersonalInformationForm.invalid && chartChoseOption !== 'none'"
    class="ngx-charts"
    [view]="view"
    [scheme]="colorScheme"
    [legendPosition]="position"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="results"
    [autoScale]="true"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>
</div>
